{{#if isShowingModal}}
  {{#modal-dialog close="renderDialog"
    translucentOverlay=true renderInPlace=true container-class="card flexBlock flexVertical modalShit modalFadeIn"}}
      <p>
      {{{currentModalText}}}
      </p>
      <div class="button button--blue" {{action 'renderDialog'}}>
        Got it
      </div>
  {{/modal-dialog}}
{{/if}}

{{#if isLamisi}}
  <div class="titleLabel">
    Introduction
  </div>
  {{#each intro.Lamisi as |temp|}}
    <p>{{informative-modals inputText=temp renderDialog=(action 'renderDialog')}}</p>
  {{/each}}
  <img class="illustrations-image" src="/assets/images/{{introImages.Lamisi}}"/>
{{/if}}

{{#if isZara}}
  <div class="titleLabel">
    Introduction
  </div>
  {{#each intro.Zara as |temp|}}
    <p>{{informative-modals inputText=temp renderDialog=(action 'renderDialog')}}</p>
  {{/each}}
  <img class="illustrations-image" src="/assets/images/{{introImages.Zara}}"/>
{{/if}}

{{#if isKojo}}
  <div class="titleLabel">
    Introduction
  </div>
  {{#each intro.Kojo as |temp|}}
    <p>{{informative-modals inputText=temp renderDialog=(action 'renderDialog')}}</p>
  {{/each}}
  <img class="illustrations-image" src="/assets/images/{{introImages.Kojo}}"/>
{{/if}}
