{{#if isShowingGetInvolved}}
  {{#modal-dialog close='howToGetInvolved' translucentOverlay=true targetAttachment='none' container-class='centered-scrolling-container card flexBlock flexVertical modalShit modalFadeIn' overlay-class='centered-scrolling-overlay' wrapper-class='centered-scrolling-wrapper'}}
    <p>Put your skills and experience into action and join Canada World Youth and Youth Challenge International as a volunteer on our innovative youth development project, EQWIP HUBs.</p>
    <p>Located in six countries around the world, EQWIP HUBs are dynamic learning spaces where local young women and men benefit from employment and entrepreneurship training and youth-to-youth mentorship, and find the support they need to help propel themselves, their communities, and the world, forward.</p>
    <p>Our volunteers live and work in Bolivia, Ghana, Indonesia, Peru, Senegal or Tanzania on 3 or 12 month placements. Once they arrive, they work side-by-side with EQWIP HUBs staff and partners to offer the specialized training and support needed to help local youth launch a career, or business.</p>
    <p>Together, we can propel 100,000 #YouthForward by 2020!</p>
    <a href="http://eqwiphubs.org/current-opportunities/" target="_blank">Explore current placements and complete your application online.</a>
      <div class="button button--blue" {{action 'howToGetInvolved'}}>
        Got it
      </div>
  {{/modal-dialog}}
{{/if}}


<div class="flexBlock flexBlock--noGrow flexBlock--noShrink u-padding">
  <div class="row">
    <div class="columns">
      <h2 class="u-marginBottomNone">{{character}} has been in business for an entire year! Let’s take a closer look at how things are going.</h2>
    </div>
    <div class="columns u-textRight">
      <a class="button button--green" href="/">Play Again</a>
      <a class="button button--blue" {{action 'howToGetInvolved'}}>How to Get Involved</a>
      <a class="button button--green" href="https://docs.google.com/forms/d/1-8uEXmsrsa7oYi4ATBJFz8hibe5eBz4ShIeze7BPVE4/viewform" target="_blank">Take Survey</a>
    </div>
  </div>
</div>
<div class="flexBlock flexBock--verticalOnSmall flexBlock--equalBlocks">
  <div class="flexBlock u-padding u-bgColorGreen">
    <div class="flexContent">
      <h2 class="u-colorWhite u-marginBottom">
        Cash Ranking
      </h2>
      <h3 class="u-colorWhite u-marginBottom">
        {{#if cashLow}}
        Low
        {{/if}}

        {{#if cashMedium}}
        Medium
        {{/if}}

        {{#if cashHigh}}
        High
        {{/if}}
      </h3>
      <p class="u-colorWhite">
        {{#if cashText}}
          {{cashText}}
        {{/if}}
      </p>
    </div>
  </div>
  <div class="flexBlock u-padding u-bgColorBlueDark">
    <div class="flexContent">
      <h2 class="u-colorWhite u-marginBottom">
        Resilience Ranking
      </h2>
      <h3 class="u-colorWhite u-marginBottom">
        {{#if resilienceLow}}
        Low
        {{/if}}

        {{#if resilienceMedium}}
        Medium
        {{/if}}

        {{#if resilienceHigh}}
        High
        {{/if}}
      </h3>
      <p class="u-colorWhite">
        {{resilienceText}}
      </p>
    </div>
  </div>
  <div class="flexBlock u-padding u-bgColorBlue">
    <div class="flexContent">
      <h2 class="u-colorWhite u-marginBottom">
        Assets Ranking
      </h2>
      <h3 class="u-colorWhite u-marginBottom">
        {{#if assetsLow}}
          Low
        {{/if}}

        {{#if assetsMedium}}
          Medium
        {{/if}}

        {{#if asssetsHigh}}
          High
        {{/if}}
      </h3>
      <p class="u-colorWhite">
        {{assetsText}}
      </p>
    </div>
  </div>
  <div class="flexBlock u-padding u-bgColorBlueLight">
    <div class="flexContent">
      <h2 class="u-colorWhite u-marginBottom">
        Environmental Impact Ranking
      </h2>
      <h3 class="u-colorWhite u-marginBottom">
        {{#if environmentLow}}
          Low
        {{/if}}

        {{#if environmentMedium}}
          Medium
        {{/if}}

        {{#if environmentHigh}}
          High
        {{/if}}
      </h3>
      <p class="u-colorWhite">
        {{environmentText}}
      </p>
    </div>
  </div>
</div>
