<div class="flexBlock flexBlock--noGrow flexBlock--noShrink u-padding">
  <div class="row">
    <div class="columns">
      <h2 class="u-marginBottomNone">{{character}} has been in business for an entire year! Let’s take a closer look at how things are going.</h2>
    </div>
    <div class="columns u-textRight">
      <div class="button button--blue">
        Play Again
      </div>
    </div>
  </div>
</div>
<div class="flexBlock flexBock--verticalOnSmall flexBlock--equalBlocks">
  <div class="flexBlock u-padding u-bgColorGreen">
    <div class="flexContent">
      <h2 class="u-colorWhite u-marginBottom">
        Cash Ranking
      </h2>
      <h3 class="u-colorWhite u-marginBottom">
        {{#if cashLow}}
        Low
        {{/if}}

        {{#if cashMedium}}
        Medium
        {{/if}}

        {{#if cashHigh}}
        High
        {{/if}}
      </h3>
      <p class="u-colorWhite">
        {{#if cashText}}
          {{cashText}}
        {{/if}}
      </p>
    </div>
  </div>
  <div class="flexBlock u-padding u-bgColorBlueDark">
    <div class="flexContent">
      <h2 class="u-colorWhite u-marginBottom">
        Resilience Ranking
      </h2>
      <h3 class="u-colorWhite u-marginBottom">
        {{#if resilienceLow}}
        Low
        {{/if}}

        {{#if resilienceMedium}}
        Medium
        {{/if}}

        {{#if resilienceHigh}}
        High
        {{/if}}
      </h3>
      <p class="u-colorWhite">
        {{resilienceText}}
      </p>
    </div>
  </div>
  <div class="flexBlock u-padding u-bgColorBlue">
    <div class="flexContent">
      <h2 class="u-colorWhite u-marginBottom">
        Assets Ranking
      </h2>
      <h3 class="u-colorWhite u-marginBottom">
        {{#if assetsLow}}
          Low
        {{/if}}

        {{#if assetsMedium}}
          Medium
        {{/if}}

        {{#if asssetsHigh}}
          High
        {{/if}}
      </h3>
      <p class="u-colorWhite">
        {{assetsText}}
      </p>
    </div>
  </div>
  <div class="flexBlock u-padding u-bgColorBlueLight">
    <div class="flexContent">
      <h2 class="u-colorWhite u-marginBottom">
        Environmental Impact Ranking
      </h2>
      <h3 class="u-colorWhite u-marginBottom">
        {{#if environmentLow}}
          Low
        {{/if}}

        {{#if environmentMedium}}
          Medium
        {{/if}}

        {{#if environmentHigh}}
          High
        {{/if}}
      </h3>
      <p class="u-colorWhite">
        {{environmentText}}
      </p>
    </div>
  </div>
</div>
