{{#each partials as |partial| ~}}
  {{~#if partial.isLinkable ~}}
    {{~#if partial.isSusu ~}}
      <span {{action 'renderModal' 'susu' bubbles=false}} class='modalLink u-colorBlue'>
        {{~{partial.content}~}}
      </span>
    {{~/if}}
    {{~#if partial.isGuinea ~}}
      <span {{action 'renderModal' 'guinea' bubbles=false}} class='modalLink u-colorBlue'>
        {{~{partial.content}~}}
      </span>
    {{~/if}}
    {{~#if partial.isEqwip ~}}
      <span {{action 'renderModal' 'eqwip' bubbles=false}} class='modalLink u-colorBlue'>
        {{~{partial.content}~}}
      </span>
    {{~/if}}
    {{~#if partial.isInvest ~}}
      <span {{action 'renderModal' 'invest' bubbles=false}} class='modalLink u-colorBlue'>
        {{~{partial.content}~}}
      </span>
    {{~/if}}
    {{~#if partial.isComputer ~}}
      <span {{action 'renderModal' 'computer' bubbles=false}} class='modalLink u-colorBlue'>
        {{~{partial.content}~}}
      </span>
    {{~/if}}
    {{~#if partial.isTravel ~}}
      <span {{action 'renderModal' 'travel' bubbles=false}} class='modalLink u-colorBlue'>
        {{~{partial.content}~}}
      </span>
    {{~/if}}
    {{~#if partial.isWhatsApp ~}}
      <span {{action 'renderModal' 'whatsapp' bubbles=false}} class='modalLink u-colorBlue'>
        {{~{partial.content}~}}
      </span>
    {{~/if}}
    {{~#if partial.isGoro ~}}
      <span {{action 'renderModal' 'goro' bubbles=false}} class='modalLink u-colorBlue'>
        {{~{partial.content}~}}
      </span>
    {{~/if}}
    {{~#if partial.isNorse ~}}
      <span {{action 'renderModal' 'norse' bubbles=false}} class='modalLink u-colorBlue'>
        {{~{partial.content}~}}
      </span>
    {{~/if}}
    {{~#if partial.isService ~}}
      <span {{action 'renderModal' 'service' bubbles=false}} class='modalLink u-colorBlue'>
        {{~{partial.content}~}}
      </span>
    {{~/if}}
    {{~#if partial.isMotor ~}}
      <span {{action 'renderModal' 'motor' bubbles=false}} class='modalLink u-colorBlue'>
        {{~{partial.content}~}}
      </span>
    {{~/if}}
    {{~#if partial.isTamale ~}}
      <span {{action 'renderModal' 'tamale' bubbles=false}} class='modalLink u-colorBlue'>
        {{~{partial.content}~}}
      </span>
    {{~/if}}
    {{~#if partial.isEqwipHub ~}}
      <span {{action 'renderModal' 'eqwipHub' bubbles=false}} class='modalLink u-colorBlue'>
        {{~{partial.content}~}}
      </span>
    {{~/if}}
    {{~#if partial.isMore ~}}
      <span {{action 'renderModal' 'andMore' bubbles=false}} class='modalLink u-colorBlue'>
        {{~{partial.content}~}}
      </span>
    {{~/if}}
    {{~#if partial.isYam ~}}
      <span {{action 'renderModal' 'yam' bubbles=false}} class='modalLink u-colorBlue'>
        {{~{partial.content}~}}
      </span>
    {{~/if}}
    {{~#if partial.isTuaZaafi ~}}
      <span {{action 'renderModal' 'tuaZaafi' bubbles=false}} class='modalLink u-colorBlue'>
        {{~{partial.content}~}}
      </span>
    {{~/if}}
    {{~#if partial.isCreditPro ~}}
      <span {{action 'renderModal' 'creditProblem' bubbles=false}} class='modalLink u-colorBlue'>
        {{~{partial.content}~}}
      </span>
    {{~/if}}
    {{~#if partial.isOfferBribe ~}}
      <span {{action 'renderModal' 'offerBribe' bubbles=false}} class='modalLink u-colorBlue'>
        {{~{partial.content}~}}
      </span>
    {{~/if}}
    {{~#if partial.isAccra ~}}
      <span {{action 'renderModal' 'accra' bubbles=false}} class='modalLink u-colorBlue'>
        {{~{partial.content}~}}
      </span>
    {{~/if}}
    {{~#if partial.isBootCamp ~}}
      <span {{action 'renderModal' 'bootCamp' bubbles=false}} class='modalLink u-colorBlue'>
        {{~{partial.content}~}}
      </span>
    {{~/if}}
    {{~#if partial.isCodeSchool ~}}
      <span {{action 'renderModal' 'codeSchool' bubbles=false}} class='modalLink u-colorBlue'>
        {{~{partial.content}~}}
      </span>
    {{~/if}}
    {{~#if partial.isFloodAccra ~}}
      <span {{action 'renderModal' 'floodAccra' bubbles=false}} class='modalLink u-colorBlue'>
        {{~{partial.content}~}}
      </span>
    {{~/if}}
    {{~#if partial.isEqwipHubNetwork ~}}
      <span {{action 'renderModal' 'eqwipHubNetwork' bubbles=false}} class='modalLink u-colorBlue'>
        {{~{partial.content}~}}
      </span>
    {{~/if}}
    {{~#if partial.isLaunchTraning ~}}
      <span {{action 'renderModal' 'launchTraining' bubbles=false}} class='modalLink u-colorBlue'>
        {{~{partial.content}~}}
      </span>
    {{~/if}}
    {{~#if partial.isEwipHubCLab ~}}
      <span {{action 'renderModal' 'ewipHubCLab' bubbles=false}} class='modalLink u-colorBlue'>
        {{~{partial.content}~}}
      </span>
    {{~/if}}
    {{~#if partial.isCrunchesNumber ~}}
      <span {{action 'renderModal' 'crunchesNumber' bubbles=false}} class='modalLink u-colorBlue'>
        {{~{partial.content}~}}
      </span>
    {{~/if}}
  {{~else~}}
      <span style="white-space: pre-line">
        {{~{partial.content}~}}
      </span>
  {{~/if}}
{{~/each}}
