{{#if resultText}}
  <div class="row align-center u-marginBottom fadeUp">
    <div class="small-12 medium-8 columns u-textCenter">
      <p class="u-colorBrown">
        {{resultText}}
      </p>
    </div>
  </div>

  <div class="row align-center u-marginBottom">
    <div class="small-12 medium-8 columns u-textCenter">
      {{#if rejected}}
        <div class="button button--blue" {{action "submitAnswer" chosenAnswer.impact}}>
          Try A Different Option
        </div>
      {{else}}
        <div class="button button--blue" {{action "submitAnswer" chosenAnswer.impact}}>
          Continue
        </div>
      {{/if}}
    </div>
  </div>

{{else}}

  {{#if displaySusuImpact}}

    <div class="row align-center u-marginBottom">
      <div class="small-12 medium-8 columns u-textCenter">
        <p class="u-colorBlueDark">
          {{susuText}}
        </p>
      </div>
    </div>

    <div class="row align-center u-marginBottom">
      <div class="small-12 medium-8 columns u-textCenter">
        <div class="button button--blue" {{action "handleSusuImpact"}}>
          Collect your Susu Monies
        </div>
      </div>
    </div>

  {{else}}

    <div class="row align-center u-marginBottom fadeUp">
      <div class="small-12 medium-8 columns u-textCenter">
        <p class="u-colorBlueDark">
          {{informative-modals inputText=questionText}}
        </p>
      </div>
    </div>

    <div class="answerContainer row align-center row--equalHeightColumns">
      {{#each answerOptions as |option|}}
        <div class="columns" {{action "renderResult" option }}>
          <div class="card card--answer">
            <p>
              {{informative-modals inputText=option.text}}
            </p>
          </div>
        </div>
      {{/each}}
    </div>

  {{/if}}
{{/if}}
