{{#if resultText}}
  {{resultText}}

  <div class="flexBlock" {{action "submitAnswer" option }}>
    <div class="button">
      Continue
    </div>
  </div>

{{else}}
  {{questionText}}

  <br>
  <br>

  <div class='answers'>
    {{#each answerOptions as |option|}}
      <div class="flexBlock" {{action "renderResult" option }}>
        <div class="button">
          {{option.text}}
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}
