{{#if resultText}}
  {{resultText}}

  <div class="flexBlock" {{action "submitAnswer" chosenAnswer.impact}}>
    {{#if rejected}}
      <div class="button">
        Try A Different Option
      </div>
    {{else}}
      <div class="button">
        Continue
      </div>
    {{/if}}
  </div>

{{else}}

  {{#if displaySusuImpact}}

    {{susuText}}

    <div class="flexBlock" {{action "handleSusuImpact"}}>
      <div class="button">
        Collect your Susu Monies
      </div>
    </div>

  {{else}}
    {{informative-modals inputText=questionText}}

    <br>
    <br>

    <div class='answers'>
      {{#each answerOptions as |option|}}
        <div class="flexBlock" {{action "renderResult" option }}>
          <div class="button">
            {{option.text}}
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
{{/if}}
