{{#if isShowingModal}}
  {{#modal-dialog close="removeDialog"
    translucentOverlay=true renderInPlace=true container-class="card flexBlock flexVertical modalShit modalFadeIn"}}
    {{#if currentDialogText}}
      <p>
        {{{currentDialogText}}}
      </p>
    {{/if}}
    {{#if showCashChart}}
    <p>
    Ghana’s official currency is the Ghana Cedi (GHC or ₵), which is worth about ⅓ of a Canadian dollar. The following table will give you a brief idea of the prices for common goods in Ghana, and an estimate of the monthly salaries for common vocations.
    </p>
    <table class="simpleTable">
      <tr>
        <th class="simpleTD">
          <h3>
            Item
          </h3>
        </th>
        <th class="simpleTD">
          <h3>
            GHC
          </h3>
        </th>
        <th class="simpleTD">
          <h3>
            CAD
          </h3>
        </th>
      </tr>
      <tr>
        <td class="simpleTD">
          Litre of Milk
        </td>
        <td class="simpleTD">
          9
        </td>
        <td class="simpleTD">
          $2.80
        </td>
      </tr>
      <tr>
        <td class="simpleTD">
          Can of Soda
        </td>
        <td class="simpleTD">
          2
        </td>
        <td class="simpleTD">
          $0.60
        </td>
      </tr>
      <tr>
        <td class="simpleTD">
          Bottle of Beer
        </td>
        <td class="simpleTD">
          6
        </td>
        <td class="simpleTD">
          $2
        </td>
      </tr>
      <tr>
        <td class="simpleTD">
          Typical Meal from a Food Stall
        </td>
        <td class="simpleTD">
          5
        </td>
        <td class="simpleTD">
          $1.50
        </td>
      </tr>
      <tr>
        <td class="simpleTD">
          Typical Meal at a ‘Sit-Down’ Restaurant
        </td>
        <td class="simpleTD">
          30
        </td>
        <td class="simpleTD">
          $9.50
        </td>
      </tr>
      <tr>
        <td class="simpleTD">
          Public Transit from City Centre to Suburb
        </td>
        <td class="simpleTD">
          3
        </td>
        <td class="simpleTD">
          $1
        </td>
      </tr>
      <tr>
        <td class="simpleTD">
          Custom, Locally-Made Dress
        </td>
        <td class="simpleTD">
          60
        </td>
        <td class="simpleTD">
          $19
        </td>
      </tr>
      <tr>
        <td class="simpleTD">
          Monthly Salary of High School Teacher
        </td>
        <td class="simpleTD">
          1200
        </td>
        <td class="simpleTD">
          $380
        </td>
      </tr>
      <tr>
        <td class="simpleTD">
          Monthly Salary of Retail Associate
        </td>
        <td class="simpleTD">
          300
        </td>
        <td class="simpleTD">
          $95
        </td>
      </tr>
      <tr>
        <td class="simpleTD">
          Monthly Salary of Bank Teller
        </td>
        <td class="simpleTD">
          1500
        </td>
        <td class="simpleTD">
          $315
        </td>
      </tr>
  </table>
    {{/if}}
    <div class="button button--blue" {{action 'removeDialog'}}>
      Got it
    </div>
  {{/modal-dialog}}
{{/if}}

<div class="sidebar-section sidebar-section--header">
  <div class="row align-middle">
    <div class="shrink columns u-paddingRightNone">
      {{character-avatar character=character isSmall=true}}
    </div>
    <div class="columns">
      <h3 class="u-colorTeal">{{character}}</h3>
    </div>
    <div class="columns shrink">
      <div class="sidebar-section-month">
        {{monthName}}
      </div>
    </div>
  </div>
</div>
<div class="sidebar-section sidebar-section--totals">
  <div class="totalsList">
    <div class="row align-middle u-textLarge">
      <div class="columns totalsList-label clickable" {{action 'renderDialog' 'cash'}}>
        <img class="sidebar-icons" src="/assets/images/icons/CashTransparent2.png"/>
        Cash
      </div>
      <div class="columns small-4 totalsList-total">
        ₵{{cash}}
      </div>
    </div>
    <div class="row align-middle">
      <div class="columns totalsList-label clickable u-textSmaller u-paddingTopSmaller u-paddingBottomSmaller" {{action 'renderDialog' 'monthlyIncome'}}>
        <img class="sidebar-icons" src="/assets/images/icons/MonthlyProfitTransparent2.png"/>
        Monthly Profit
      </div>
      <div class="columns small-4 totalsList-total u-textSmaller u-paddingTopSmaller u-paddingBottomSmaller">
        ₵{{income}}
      </div>
    </div>
    <div class="row align-middle">
      <div class="columns totalsList-label clickable u-textSmaller u-paddingTopSmaller u-paddingBottomSmaller" {{action 'renderDialog' 'debt'}}>
        <img class="sidebar-icons" src="/assets/images/icons/DebtPaymentTransparent2.png"/>
        Debt
      </div>
      <div class="columns small-4 totalsList-total u-textSmaller u-paddingTopSmaller u-paddingBottomSmaller">
        ₵{{debt}}
      </div>
    </div>
    <div class="row align-middle">
      <div class="columns totalsList-label clickable u-textSmaller u-paddingTopSmaller u-paddingBottomSmaller" {{action 'renderDialog' 'debtPayment'}}>
        <img class="sidebar-icons" src="/assets/images/icons/MonthlyProfitTransparent2.png"/>
        Debt Payments
      </div>
      <div class="columns small-4 totalsList-total u-textSmaller u-paddingTopSmaller u-paddingBottomSmaller">
        ₵{{debtPayments}}
      </div>
    </div>
  </div>
</div>
<div class="sidebar-section sidebar-section--gauges">
  <div class="row">
    <div class="columns">
      <div class="row">
        <div class="columns totalsList-label clickable"  {{action 'renderDialog' 'assets'}}>
          <img class="sidebar-icons" src="/assets/images/icons/KojoLamisiAssetsTransparent2.png"/>
          Assets
        </div>
      </div>
      <div class="sidebar-gauge show-for-medium-up">
        {{#flat-indicator value=assets min=assetsMin max=assetsMax}}
          <div class="indicator-bar"></div>
        {{/flat-indicator}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="columns">
      <div class="row">
        <div class="columns totalsList-label clickable" {{action 'renderDialog' 'resilience'}}>
          <img class="sidebar-icons" src="/assets/images/icons/ResilienceTransparent2.png"/>
          Resilience
        </div>
      </div>
      <div class="sidebar-gauge show-for-medium-up">
        {{#progress-indicator value=resilience gauge-id='resilience-gauge' min=resilienceMin max=resilienceMax}}
        {{/progress-indicator}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="columns">
      <div class="row">
        <div class="columns totalsList-label clickable" {{action 'renderDialog' 'environment'}}>
          <img class="sidebar-icons" src="/assets/images/icons/EnvironmentAllImpactTransparent2.png"/>
          Environmental Impact
        </div>
      </div>
      <div class="sidebar-gauge show-for-medium-up u-borderBottomNone">
        {{#progress-indicator value=environment gauge-id='environment-gauge' max=environmentMax min=environmentMin}}
        {{/progress-indicator}}
      </div>
    </div>
  </div>
</div>
