<div class="eqwipBlue paddingSides">
  <div class="cashDebtIncomeBox whiteBorderBottom paddingSmall">
    {{character}}
    {{monthName}}
    <p>
    Cash: ₵{{cash}}
    </p>
    <p>
    Debt: ₵{{debt}}
    </p>
    <p>
    Monthly Income: ₵{{income}}
    </p>
  </div>

  <div class="paddingSmall">
    Resilience: {{resilience}}
    {{#progress-indicator value=resilience gauge-id='resilience-gauge' min=resilienceMin max=resilienceMax}}
    {{/progress-indicator}}
  </div>

  <div class="paddingSmall whiteBorderBottom">
    Assets: {{assets}}
    {{#progress-indicator value=assets gauge-id='assets-gauge' tooltip-content='tooltip content'}}{{/progress-indicator}}
  </div>

  <div class="paddingSmall whiteBorderBottom">
    Environment: {{environment}}
    {{#progress-indicator value=environment gauge-id='environment-gauge' max=environmentMax min=environmentMin}}
    {{/progress-indicator}}
  </div>
</div>
