{{#if isShowingModal}}
  {{#modal-dialog close="removeDialog"
    translucentOverlay=true renderInPlace=true container-class="card flexBlock flexVertical modalShit modalFadeIn"}}
      <p>
        {{{currentDialogText}}}
      </p>
      <div class="button button--blue" {{action 'removeDialog'}}>
        Got it
      </div>
  {{/modal-dialog}}
{{/if}}

<div class="sidebar-section sidebar-section--header">
  <div class="row align-middle">
    <div class="shrink columns u-paddingRightNone">
      {{character-avatar character=character isSmall=true}}
    </div>
    <div class="columns">
      <h3 class="u-colorTeal">{{character}}</h3>
    </div>
    <div class="columns shrink">
      <div class="sidebar-section-month">
        {{monthName}}
      </div>
    </div>
  </div>
</div>
<div class="sidebar-section sidebar-section--totals">
  <div class="totalsList">
    <div class="row align-middle">
      <div class="columns totalsList-label clickable" {{action 'renderDialog' 'cash'}}>
        Cash
      </div>
      <div class="columns totalsList-total">
        ₵{{cash}}
      </div>
    </div>
    <div class="row align-middle">
      <div class="columns totalsList-label">
        Debt
      </div>
      <div class="columns totalsList-total">
        ₵{{debt}}
      </div>
    </div>
    <div class="row align-middle">
      <div class="columns totalsList-label">
        Monthly Income
      </div>
      <div class="columns totalsList-total">
        ₵{{income}}
      </div>
    </div>
  </div>
</div>
<div class="sidebar-section sidebar-section--gauges">
  <div class="row">
    <div class="columns">
      <div class="row">
        <div class="columns totalsList-label clickable"  {{action 'renderDialog' 'resilience'}}>
          Resilience
        </div>
        <div class="columns totalsList-total">
          {{resilience}}
        </div>
      </div>
      <div class="sidebar-gauge show-for-medium-up">
        {{#progress-indicator value=resilience gauge-id='resilience-gauge' min=resilienceMin max=resilienceMax}}
        {{/progress-indicator}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="columns">
      <div class="row">
        <div class="columns totalsList-label clickable"  {{action 'renderDialog' 'assets'}}>
          Assets
        </div>
        <div class="columns totalsList-total">
          {{assets}}
        </div>
      </div>
      <div class="sidebar-gauge show-for-medium-up">
        {{#flat-indicator value=assets min=assetsMin max=assetsMax}}
          <div class="indicator-bar"></div>
        {{/flat-indicator}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="columns">
      <div class="row">
        <div class="columns totalsList-label clickable" {{action 'renderDialog' 'environment'}}>
          Environmental Impact
        </div>
        <div class="columns totalsList-total">
          {{environment}}
        </div>
      </div>
      <div class="sidebar-gauge  show-for-medium-up u-borderBottomNone">
        {{#progress-indicator value=environment gauge-id='environment-gauge' max=environmentMax min=environmentMin}}
        {{/progress-indicator}}
      </div>
    </div>
  </div>
</div>
