{{#if gameOverManGameOver}}
  {{game-over
    character=character
    cash=cash
    income=income
    environment=environment
    assets=assets
    debt=debt
    resilience=resilience
    assetsArray=assetsArray
  }}
{{else}}
 {{#if introShown}}
    <div class="flexBlock flexBock--verticalOnSmall">
      <div class="sidebar flexBlock flexBlock--noGrow flexBlock--noShrink">
        {{score-drawer
            character=character
            month=month
            answers=answers
            cash=cash
            income=income
            environment=environment
            assets=assets
            debt=debt
            debtPayments=debtPayments
            resilience=resilience
        }}
      </div>

      <div class="flexBlock flexVertical">
        <div class="flexBlock flexBlock--noGrow flexBlock--noShrink header">
          <div class="flexContent">
            <img src="/assets/images/eqwip-short.png" class="logo-sidebar-banner"/>
            <h3 class="u-marginBottomNone u-textRight u-colorBlue u-textRegular">
              <!--
              from <span class="u-colorGlue"> Start Up </span> to <span class="u-colorGlue"> Sustainability </span>
              -->
              
            </h3>
          </div>

        </div>
        <div class="progress">
            <div class="progress-bar"  style="width: {{progressBarWidth}}%">
              {{month}}/12
          </div>
        </div>

        <div class="flexBlock">
          <div class="storyContainer">
            {{question-space
            character=character
            month=month
            answerQuestion=(action "answerQuestion")
            setImpact=(action "setImpact")
            endGame=(action "endGame")
            applyIncome=(action "applyIncome")
            }}
          </div>
        </div>
      </div>
    </div>
  {{else}}
    <div class="flexBlock u-padding">
      <div class="row collapse fadeUp">
        <div class="small-order-2 medium-order-1 small-12 medium-8 columns">
          {{character-intro character=character}}
          <div class="button button--green u-marginBottom u-marginTop" {{action 'startGameClicked'}}>
           Continue
         </div>
        </div>
        <div class="small-order-1 medium-order-2 small-12 medium-4 columns u-textCenter">
          {{character-avatar character=character class='avatar--large u-marginTop u-marginBottom'}}
        </div>
      </div>
    </div>
  {{/if}}
{{/if}}
