{{#if gameOverManGameOver}}
  <div class="flexBlock">
    <div class="storyContainer">
      {{game-over
        character=character
        cash=cash
        income=income
        environment=environment
        assets=assets
        debt=debt
        resilience=resilience
        assetsArray=assetsArray
      }}
    </div>
  </div>
{{else}}
 {{#if introShown}}
    <div class="flexBlock">
      <div class="flexBlock flexBlock--noGrow flexBlock--noShrink">
        <div class="sidebar">
          {{score-drawer
              character=character
              month=month
              answers=answers
              cash=cash
              income=income
              environment=environment
              assets=assets
              debt=debt
              resilience=resilience
          }}
        </div>
      </div>

      <div class="flexBlock">
        <div class="storyContainer">
          {{question-space character=character month=month answerQuestion=(action "answerQuestion") setImpact=(action "setImpact")}}
        </div>
      </div>
    </div>
  {{else}}
    <div class="flexBlock u-padding">
      <div class="row collapse">
        <div class="small-12 medium-8 columns">
          {{character-intro character=character}}
          <div class="button button--green u-marginBottom u-marginTop" {{action 'startGameClicked'}}>
           Continue
         </div>
        </div>
      </div>
    </div>
  {{/if}}
{{/if}}
